body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  font-family: 'Lora', serif;
}

#container {
  display: flex;
  margin-top: 5vh;
  width: 80vw;
  height: 80vh;
}

#sidebar {
  border: 1px solid #000;
  width: 10vw;
  height: 80vh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.element {
  margin-top: 15px;
}

#org_canvas {
  border: 1px solid #000;
  width: 70vw;
  height: 80vh;
}

#footer {
  z-index: 1;

  margin: 0;
  margin-top: 10vh;
  width: 100vw;
  height: 5vh;

  align-self: center;

  background-color: #999;

  display: flex;

  justify-content: center;
  align-items: center;
}
